.button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 2px 4px;
    font-size: 1em;
    font-weight: 500;
    line-height: 0;
    font-family: inherit;
    background-color: rgb(94, 94, 255);
    cursor: pointer;
    transition: background-color 0.25s;
    color: whitesmoke;
    margin: 0 auto 12px auto;
    display: block;
}

.button:hover {
    background-color: #3d45e3;
}